.wrap {
    width: 300px;
}

.widget {
    width: 100%;
    margin: 32px;
}

.widget p {
    display: inline-block;
    color: white;
}

.fecha {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj {
    text-align: center;
    font-size: 60px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 25px;
    display: block;
}