.wrap {
    width: 300px;
}

.widget {
    width: 100%;
    margin: 32px;
}

.widget p {
    display: inline-block;
    color: white;
}

.fecha {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    background: #ff8800b6;
    padding: 20px;
    width: 100%;
}

.reloj {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    background: #ff8800b6;
    padding: 20px;
    width: 100%;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 17px;
    display: block;
}