* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --fondo: url(../imagenes/leon\ negro\ naranja\ oficial.svg);
    --naranja: #ff8800b6;
    --negro: rgba(41, 40, 40, 0.925);
}

body {
    background: var(--fondo);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cajaP {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socios {
    background: var(--naranja);
    padding: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: auto;
    margin: auto;
}

.titulo {
    color: #f1f1f1;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.cajas {
    display: flex;
    align-items: center;
}

.contenedor {
    background: var(--negro);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 170px;
    height: 170px;
    margin: 30px;
}

.textos {
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.texto {
    color: rgb(255, 166, 0);
    font-size: 25px;
    text-align: center;
}

.contenedor:hover {
    box-shadow: 0 0 10px 0 rgba(235, 227, 227, 0.8);
    background: black;
}