* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --fondo: url(../imagenes/logo.jpg);
    --naranja: #e78719de;
    --negro: rgba(41, 40, 40, 0.925);
}

body {
    background: var(--fondo);
    background-size: cover;
    background-attachment: scroll;
}

.cajaP {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socios {
    background: var(--naranja);
    padding: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: auto;
    margin: auto;
    display: block;
}

.titulo {
    color: #f1f1f1;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
}

.cajas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor {
    background: var(--negro);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.textos {
    display: flex;
    justify-content: center;
}

.texto {
    color: rgb(255, 166, 0);
    font-size: 30px;
    text-align: center;
    margin-top: 40%;
}